<!-- <div class="container-fluid">

  <div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" class="btn btn-primary" (click)="showModalGrupo()"> Adicionar Grupo</button>
      <button type="button" class="btn btn-primary" (click)="listarGrupoLocalStorage()"><i class="fa fa-save"></i> Listar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nro.</th>
            <th>NOMBRES Y APELLIDOS</th>
            <th>PARENTESCO</th>
            <th>EDAD</th>
            <th>ESTADO CIVIL</th>
            <th>GRADO DE INSTRUCCION</th>
            <th>OCUPACION</th>
            <th>OPCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grupo of listagrupofam; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ grupo.nombrecom }}</td>
            <td>{{ grupo.parentesco }}</td>
            <td>{{ grupo.edad }}</td>
            <td>{{ grupo.estado_civil }}</td>
            <td>{{ grupo.grado }}</td>
            <td>{{ grupo.ocupacion }}</td>
            <td>
              
              <div class="btn-group btn-group-md">
                <button type="button" class="btn btn-warning" (click)="mostrarRegistroLocalStorage(grupo)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger" (click)="eliminarRegistroLocalStorage(grupo)"><i class="fa fa-trash"></i></button>
                
              </div>
              
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  
  <div class="modal fade" id="mdlGrupoFam">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Datos del Grupo Familiar</h4>
        </div>
        <div class="modal-body">

          <form name="form">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="">Nombre y Apellidos:</label>
                  <input type="text" class="form-control" name="nombrecom" [(ngModel)]="nombrecom" placeholder="Nombre y Apellidos">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="">Parentesco:</label>
                  <input type="text" class="form-control" name="parentesco" [(ngModel)]="parentesco" placeholder="Parentesco">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="">Edad:</label>
                  <input type="text" class="form-control" name="edad" [(ngModel)]="edad" placeholder="Edad">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="">Estado Civil:</label>
                  <input type="text" class="form-control" name="estado_civil" [(ngModel)]="estado_civil" placeholder="Estado Civil">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="">Grado de Instrucción</label>
                  <input type="text" class="form-control" name="grado" [(ngModel)]="grado" placeholder="Grado de Instrucción">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="">Ocupación</label>
                  <input type="text" class="form-control" name="ocupacion" [(ngModel)]="ocupacion" placeholder="Ocupación">
                </div>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" *ngIf="!editar" (click)="registrarGrupoLocalStorage()"><i class="fa fa-save"></i> Registrar Familiar</button>
          <button type="button" class="btn btn-warning" *ngIf="editar" (click)="registrarGrupoLocalStorage()"><i class="fa fa-save"></i> Aceptar Modificación</button>
          
        </div>
      </div>
    </div>
  </div>


</div> -->

<div class="container-fluid">
    <div class="row ">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- <button type="button" class="btn btn-primary" (click)="showModalGrupo()"> Adicionar Grupo</button>
        <button type="button" class="btn btn-primary" (click)="listarGrupoFamiliar()"><i class="fa fa-save"></i> Listar</button> -->
        
        
        <!-- <app-dias></app-dias> -->
        <!-- <app-jspdf></app-jspdf>
        <hr>
        
        <app-cvs-file></app-cvs-file>
        <hr>
        <app-qr></app-qr>
        <hr>-->
        <h1>Data tables</h1>
        <app-data-table-bs></app-data-table-bs>
        
        <!-- <app-editor-wysiwyg></app-editor-wysiwyg> -->

        <!-- <app-subir-excel></app-subir-excel> -->
        
        

      </div>
    </div>
    <app-listbox-select></app-listbox-select>
    <!-- <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Nro.</th>
              <th>NOMBRES Y APELLIDOS</th>
              <th>PARENTESCO</th>
              <th>EDAD</th>
              <th>ESTADO CIVIL</th>
              <th>GRADO DE INSTRUCCION</th>
              <th>OCUPACION</th>
              <th>ELIMINAR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grupo of listaGrupoFamiliar; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ grupo.nombrecom }}</td>
              <td>{{ grupo.parentesco }}</td>
              <td>{{ grupo.edad }}</td>
              <td>{{ grupo.estado_civil }}</td>
              <td>{{ grupo.grado }}</td>
              <td>{{ grupo.ocupacion }}</td>
              <td>
                <div class="btn-group btn-group-md">
                  <button type="button" class="btn btn-danger" (click)="eliminarFamiliar(grupo)"><i class="fa fa-trash"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal fade" id="mdlGrupoFam">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Datos del Grupo Familiar</h4>
          </div>
          <div class="modal-body">
            <form name="form">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Nombre y Apellidos:</label>
                    <input type="text" class="form-control" name="nombrecom" [(ngModel)]="nombrecom" placeholder="Nombre y Apellidos">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Parentesco:</label>
                    <input type="text" class="form-control" name="parentesco" [(ngModel)]="parentesco" placeholder="Parentesco">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Edad:</label>
                    <input type="text" class="form-control" name="edad" [(ngModel)]="edad" placeholder="Edad">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Estado Civil:</label>
                    <input type="text" class="form-control" name="estado_civil" [(ngModel)]="estado_civil" placeholder="Estado Civil">
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Grado de Instrucción</label>
                    <input type="text" class="form-control" name="grado" [(ngModel)]="grado" placeholder="Grado de Instrucción">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Ocupación</label>
                    <input type="text" class="form-control" name="ocupacion" [(ngModel)]="ocupacion" placeholder="Ocupación">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="adicionarFamiliar()"><i class="fa fa-save"></i> Registrar Familiar</button>
           
          </div>
        </div>
      </div>
    </div> -->
  </div>