<h1>Editor</h1>
<div id="editor" [froalaEditor]='options' [(ngModel)]="CONTENT">
<!-- <div [froalaEditor]="options" [(froalaModel)]="CONTENT"> -->
  <!-- fr-element fr-view -->
</div>
<br>
<br>
<p><a id="get-text" class="btn btn-primary" (click)="save()">Guardar</a></p>
<p><a id="get-text" name="btn" class="btn btn-primary" (click)="imprimir()">Imprimir</a></p>
<br>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: gold">
    1
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: rgb(43, 16, 167)">
    2
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: rgb(36, 194, 36)">
    3
  </div>
</div>

<hr>
